#nav-dropdown:after { display: none }

#home-carousel img{
    width: auto;
    height: 700px;
    max-height: 700px;
    margin: auto;
    display:block
}

#jumbotron {
	margin-bottom: 0;
	background: url('./BruceJoy.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 1400px */
}

/* .feldenkrais {
    max-height: 250px;
} */